@font-face {
  font-family: 'Prompt';
  src:  url('Prompt-Light.ttf')  format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
footer {
  width: 100vw;
  height: 4rem;
  position: absolute;
  bottom: 0;
  color: transparent;
  background: transparent;
  text-align: center;
  letter-spacing: 0.5rem;
  font-family: 'Prompt', serif;
  text-transform: uppercase;
  font-size: 0.7rem;
  transition: all ease-out 2.5s;
}
#c1 {
  position: fixed;
  top: 0;
  left: 0;
}
